html {
  height: 100%
}

body {
  margin: 0;
  overflow-x: hidden;

  background-color: #121212;
}

#nav-flex {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

#wrapper {
  position: relative;
  left: -4.5vw;

  display: grid;
  width: 80%;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
}

#icon-wrapper {
  text-align: center;
  vertical-align: center;
}

.icons {
  width: 10vw;
  border: 5px solid #121212;
  box-shadow: 1 1 1 0px white;
  border-radius: 70px;

  transition: border-radius 0.3s, width 0.3s, box-shadow 0.3s;
}

.icons:hover {
  box-shadow: 0 0 0 5px white;
}

.icons:active {
  box-shadow: 0 0 0 3px white;
}

#heading {
  position: relative;
  margin-top: 50px;

  font-size: 2em;
  font-family: 'Roboto Slab';
  color: white;
}

#subheading {
  position: relative;
  margin-top: 70px;
  margin-bottom: 20px;

  width: 80vw;
  height: 90vh;
  border: none;

  font-size: 1.5em;
  font-family: 'Roboto Slab';
  color: white;
}

#mobile-subheading {
  display: none;
}

.lum-img {
  width: 50%;
}

.lum-lightbox.lum-open {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 480px) {
  body {
    height: 100%;
    margin: 0;
    overflow: scroll;
  }

  #heading {
    position: relative;
    margin-top: 25px;
    font-size: 1.5em;
  }

  #wrapper {
    position: relative;
    left: 5%;
    top: 10%;

    grid-template-columns: 1fr 1fr;
  }

  #icon-wrapper {
    padding: 0;
  }

  .icons {
    width: 25vw;
  }

  #subheading {
    display: none;
  }

  #mobile-subheading {
    display: block;
    margin: 25px;

    font-size: 1.5em;
    font-family: 'Roboto Slab';
  }
}
